{% extends 'layout.html' %}
{% block content %}
<div class="w3-content" style="max-width: 1532px;">
  <div class="w3-row-padding" id="about">
    <div class="w3-col l6 s12">
      <h3>Proyecto Sistemas Inteligentes Computacionales</h3>
      <h6>El proyecto fue creado con el fin de suministrar una herramienta en la cual se pueda 
        visualizar la implementación de Sistemas inteligentes, mas precisamente Redes Neuronales 
          en al menos 2 casos diferentes.
            La implementación del proyecto consta de 3 bases de datos conocidas y una zona de 
            playground donde el usuario puede crear datos sintéticos para hacer mas directa la interacción 
            entre los datos de entrada y el aprendizaje de la Red Neuronal.</h6>
    </div>
    <div class="w3-col l6 s12">
      <!-- Image of location/map -->
      <img src="{{ url_for('static', filename='images/inteligencia.jpg') }}" class="w3-image w3-greyscale" style="width: 100%;">
    </div>
  </div>

  <div class="w3-container">
    <h3>Nuestras bases de datos</h3>
    <h6>Podrá usted practicar con las siguientes bases:</h6>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{ url_for('static', filename='images/IMG_9375.JPG') }}" alt="Titanic" style="width: 100%; height: 535px;">
        <span class="w3-display-bottomleft w3-padding">Iris</span>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{ url_for('static', filename='images/IMG_9390.JPG') }}" alt="Titanic" style="width: 100%;">
        <span class="w3-display-bottomleft w3-padding">Titanic</span>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{{ url_for('static', filename='images/IMG9898.jpg') }}" alt="Titanic" style="width: 100%; height: 535px;">
        <span class="w3-display-bottomleft w3-padding">Snails</span>
      </div>
    </div>
  </div>

  <div class="w3-row-padding w3-large w3-center" style="margin: 32px 0;">
    <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> Universidad Nacional de Colombia</div>
    <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +57 318402082</div>
    <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> fmarina@unal.edu.co </div>
  </div>
</div>
{% endblock %}
