{% extends "layout.html" %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./formulario.css') }}">
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h1>Datos Sinteticos</h1>
                    <br>
                    <p>Datos sinteticos en donde debes asignar la cantidad de datos, es decir, las muestras. Donde debes
                        darle la desviación estandar y la cantidad de centros. 
                    </p>
                    <br>
                    <form class="requires-validation" novalidate action="{{ url_for('resultados_sinteticos') }}" method="POST">
                        <div class="col-md-12">
                            <label for="muestras">Muestras</label>
                            <input class="form-control" type="text" name="muestras" placeholder="Entero" required>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <label for="std">Desviación Estandar</label>
                            <input class="form-control" type="text" name="std" placeholder="Entero" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label for="centros">Centros</label>
                            <input class="form-control" type="text" name="centros" placeholder="Entero" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label for="iteraciones">Iteraciones</label>
                            <input class="form-control" type="text" name="iteraciones" placeholder="Entero" required>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <label for="eta">Coeficiente de aprendizaje</label>
                            <input class="form-control" type="text" name="eta" placeholder="Real" required>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <span>Función de activación</span>
                            <select class="form-select mt-3" name="funcion" required>
                                <option selected disabled value="">Seleccionar</option>
                                <option type="text" value="1">Sigmoide</option>
                                <option type="text" value="2">Tanh</option>
                            </select>
                        </div>
                        <br>

                        <div class="col-md-12">
                            <label for="neuronas1">Neuronas - 1 capa</label>
                            <input class="form-control" type="text" name="neuronas1" placeholder="Entero" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label for="neuronas2">Neuronas - 2 capa</label>
                            <input class="form-control" type="text" name="neuronas2" placeholder="Entero" required>
                        </div>
                        <br>
                        <div class="form-button mt-3">
                            <input class="miboton" type="submit" value="Calcular" name="Calcular" onclick="toggleImage()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: flex;">
    <div>
      <img src="{{ url_for('static', filename='images/bloc.png') }}" alt="Imagen 1" >
    </div>
    <div>
      <img src="{{ url_for('static', filename='images/bloc2.png') }}" alt="Imagen 2">
    </div>
</div>
{% endblock %}